/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bottom_icos {
  background-image: url(spritesheet.png);
  background-position: 0px -57px;
  width: 187px;
  height: 47px;
  position: absolute;
}
.icon-cloud_logo {
  background-image: url(spritesheet.png);
  background-position: 0px -104px;
  width: 70px;
  height: 70px;
}
.icon-icons_emots {
  background-image: url(spritesheet.png);
  background-position: 0px 0px;
  width: 410px;
  height: 57px;
}
.icon-search_logo {
  background-image: url(spritesheet.png);
  background-position: -187px -57px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.icon-uk_flag {
  background-image: url(spritesheet.png);
  background-position: -212px -57px;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 15px;
}
